.comments-item {
	margin-top: 0;
}

.comments-item .list-group {
	margin-bottom: 0;
}

.comments-item .list-group-item:first-child {
    margin-top: 10px;
}

.post-component article {
	margin-bottom: 20px;
}